# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

#API Keys
.env


#Role IDs
#const dm = '<@!676465656228478990>'
#const elven = '675133738157342739'